Genius Epico/Node/Flow Node-Red.json
[
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "name": "Recebe pontuação",
    "topic": "disruptive/genius/rank",
    "qos": "0",
    "broker": "mqtt_broker",
    "wires": [["json_parse"]]
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "EMQX Público",
    "broker": "broker.emqx.io",
    "port": "1883",
    "clientid": "nodered-genius-rank",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "json_parse",
    "type": "json",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "wires": [["ranking_logic"]]
  },
  {
    "id": "ranking_logic",
    "type": "function",
    "name": "Lógica Top 10",
    "func": "// Recupera o ranking atual do contexto global (persiste enquanto Node-RED estiver rodando)\nvar ranking = global.get('ranking') || [];\n\nvar tag   = msg.payload.tag;\nvar score = msg.payload.score;\n\n// Verifica se a tag já existe no ranking\nvar idx = ranking.findIndex(function(r) { return r.tag === tag; });\n\nif (idx >= 0) {\n    // Atualiza só se a nova pontuação for maior\n    if (score > ranking[idx].score) {\n        ranking[idx].score = score;\n    }\n} else {\n    // Nova tag: adiciona ao ranking\n    ranking.push({ tag: tag, score: score });\n}\n\n// Ordena do maior para o menor score\nranking.sort(function(a, b) { return b.score - a.score; });\n\n// Mantém apenas o Top 10\nranking = ranking.slice(0, 10);\n\n// Salva de volta no contexto global\nglobal.set('ranking', ranking);\n\n// Formata para o ui_table (precisa de array de objetos com posição)\nvar tabela = ranking.map(function(r, i) {\n    return {\n        '#':     i + 1,\n        'TAG':   r.tag,\n        'Score': r.score\n    };\n});\n\nmsg.payload = tabela;\nreturn msg;",
    "outputs": 1,
    "wires": [["ui_table_node", "debug_node"]]
  },
  {
    "id": "ui_table_node",
    "type": "ui_table",
    "name": "Top 10",
    "group": "dashboard_group",
    "order": 1,
    "width": "6",
    "height": "8",
    "columns": [
      { "field": "#",     "title": "#",     "width": "40",  "align": "center", "formatter": "plaintext" },
      { "field": "TAG",   "title": "TAG",   "width": "80",  "align": "center", "formatter": "plaintext" },
      { "field": "Score", "title": "Score", "width": "100", "align": "center", "formatter": "plaintext" }
    ],
    "outputs": 0,
    "wires": []
  },
  {
    "id": "debug_node",
    "type": "debug",
    "name": "Debug ranking",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "wires": []
  },
  {
    "id": "inject_init",
    "type": "inject",
    "name": "Inicializa ranking vazio",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "payload": "[]",
    "payloadType": "json",
    "wires": [["init_logic"]]
  },
  {
    "id": "init_logic",
    "type": "function",
    "name": "Inicializa contexto global",
    "func": "// Só inicializa se ainda não existir — preserva dados entre deploys\nif (!global.get('ranking')) {\n    global.set('ranking', []);\n    node.log('Ranking inicializado.');\n}\nreturn null;",
    "outputs": 1,
    "wires": [[]]
  },
  {
    "id": "dashboard_group",
    "type": "ui_group",
    "name": "Ranking Simon Says",
    "tab": "dashboard_tab",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "dashboard_tab",
    "type": "ui_tab",
    "name": "Simon Says",
    "icon": "dashboard",
    "order": 1,
    "disp": true
  }
]
